app-item-card-component{
    margin-right: 0rem !important;
    display: inline-block !important;
    padding: 0px !important;
}

.card{
    overflow: hidden;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.pagination{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.filters{
    overflow: hidden;
    float: none; /* Added */
}

mat-accordion[_ngcontent-c2] {
    width: 100%;
    padding: 20px;
    
}
.main{
    margin: 25px !important;
}

.inline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

