app-item-card-component{
    margin-right: 0rem !important;
    display: inline-block !important;
    padding: 0px !important;
}

.card{
    overflow: hidden;
    margin-bottom: 10px; /* Added */
}

.pagination{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.filters{
    overflow: hidden;
    float: none; /* Added */
}

mat-accordion[_ngcontent-c2] {
    width: 100%;
    padding: 20px;
    
}
.main{
    margin: 25px !important;
}

.inline{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.left-radius {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
 
.right-radius {
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    overflow-x: hidden;
    padding-left: 0px;
    padding-right: 0px;
}

.bg-grey{
    background-color: #dae0e5;
}

btn-outline-primary:hover {
    color: #fff;
    background-color: #007bff !important;
    border-color: #007bff !important;
}