.bg-dark .dropdown-menu {
    background-color: #007bff !important;
}

.bg-dark .dropdown-menu .dropdown-item, .bg-dark .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
    font-weight: 800 !important;
}

.bg-dark {
    background-color: #007bff !important;
    font-weight: 800 !important;
}

.cust-btn{
    border: solid #ffffff !important;
    color: #ffffff !important;
    background-color: #007bff !important;
    border-radius: 5px;
}

.profile-pic{
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.top-drop{
    cursor: pointer;
    padding-bottom: 0px;
    height: 100%;
}