.bg-dark .dropdown-menu {
    background-color: #007bff !important;
}

.bg-dark .dropdown-menu .dropdown-item, .bg-dark .dropdown-menu .dropdown-item:focus {
    color: #ffffff !important;
    font-weight: 800 !important;
}

.bg-dark {
    background-color: #007bff !important;
    font-weight: 800 !important;
}

.cust-btn{
    border: solid #ffffff !important;
    color: #ffffff !important;
    background-color: #007bff !important;
    border-radius: 5px;
}

.profile-pic{
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

.top-drop{
    cursor: pointer;
    padding-bottom: 0px;
    height: 100%;
}

.bg-dark[_ngcontent-c1] {
    z-index: 200 !important;
}

.cart-badge{
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 6px;
    border-radius: 5px;
    padding-top: 4px;
}

.bg-dark[_ngcontent-c1] {
  background-color: #007bff !important;
  font-weight: 800 !important;
  min-height: 65px;
}
