
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="isCollapsed">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" >
              <a class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedin()">
              <a class="nav-link" [routerLink]="['/perchase-history']">Purchase History</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLoggedin()">
              <a class="nav-link"  [routerLink]="['/favourites']">Favourites</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLoggedin()">
              <a class="nav-link"  [routerLink]="['/register']">Register</a>
            </li>
          </ul>
          <ul class="navbar-nav" *ngIf="isLoggedin()">
            <li>
              <img *ngIf="imageUrl" class="profile-pic" src="{{ imageUrl }}">
              <img *ngIf="!imageUrl" class="profile-pic" src="http://res.cloudinary.com/abart/image/upload/v1529393623/user.png">
            </li>
            <li dropdown class="nav-item dropdown">
                <a (click)="false" class="nav-link dropdown-toggle active top-drop" dropdownToggle id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="cursor: pointer;">Welcome {{ getUser() | titlecase }}</a>
                <div class="dropdown-menu show" *dropdownMenu aria-labelledby="dropdown04">
                  <a class="dropdown-item" [routerLink]="['/user-details']" routerLinkActive="router-link-active" >User Details</a>
                  <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Logout</a>
                </div>
            </li>
          </ul>
          <form #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (submit)="login()" *ngIf="!isLoggedin()">
            <input class="form-control mr-sm-2" name="username" type="text" placeholder="Username" required aria-label="Username" [(ngModel)]="formData.username">
            <input class="form-control mr-sm-2" name="password" type="password" placeholder="Password" required aria-label="Password" [(ngModel)]="formData.password">
            <button class="btn btn-outline cust-btn my-2 my-sm-0" type="submit" [disabled]="!loginForm.valid">Login</button>
          </form>
        </div>
      </nav>

