
<div class="card shopping-cart">
  <div class="card-header bg-dark text-light">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      Shipping cart
      <a href="" class="btn btn-outline-info btn-sm pull-right" [routerLink]="['/home']">Continue shopping</a>
      <div class="clearfix"></div>
  </div>
  <div class="card-body">

      <div *ngFor="let item of items">
        <app-cart-item [item]="item.item" [orderQuantity]="item.quantity" (getSum)="changeTotal($event)"></app-cart-item>
      </div>

      <div class="pull-right">
          <a (click)="getItems()" class="btn btn-outline-secondary pull-right active">
              Update shopping cart
          </a>
      </div>
  </div>
  <div class="card-footer">
      <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
          <div class="row">
              <div class="col-6">
                  <input type="text" class="form-control" placeholder="cupone code">
              </div>
              <div class="col-6">
                  <input type="submit" class="btn btn-default" value="Use cupone">
              </div>
          </div>
      </div>
      <div class="pull-right" style="margin: 10px">
          <div id="paypal-checkout-btn" (onPaymentCompleted)="finishPayments($event)" class="btn btn-success pull-right"></div>
          <div class="pull-right" style="margin: 5px">
              Total price: <b>{{ cartTotal | currency:"USD$"}}</b>
          </div>
      </div>
  </div>
</div>
<div class="cart-form">
  <form #cartFormPost method="POST" action="https://www.sandbox.paypal.com/cgi-bin/webscr">
  </form>
</div>

