@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-snotify/styles/material.css";
@import "~alertifyjs/build/css/themes/bootstrap.min.css";
@import "~bootswatch/dist/yeti/bootstrap.min.css";

    .container{
        min-height: 100vh;
        background-color: aliceblue;
    }
     
    /* alternatively: html { min-height: 100%; height: 100%; } */    
    
    html { min-height: 100%; }

    .mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
        background: #007bff !important;
        color: white !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff !important;
        border-color: #007bff !important;
    }

    
