<!-- PRODUCT -->
<div class="row" *ngIf="displayThis">
    <div class="col-12 col-sm-12 col-md-2 text-center">
            <img class="img-responsive" src="{{ item.imageUrl }}" alt="{{ item.title }} picture" width="120" height="80">
    </div>
    <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
        <h4 class="product-name"><strong>{{ item.title }}</strong></h4>
        <h4>
            <small>{{ item.description }}</small>
        </h4>
    </div>
    <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
        <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
            <h6><strong>{{item?.unitPrice | currency:"USD$"}} <span class="text-muted">x</span></strong></h6>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
            <div class="quantity">
                <input type="button" value="+" class="plus" (click)="increaseQuantity()">
                <input type="number" [(ngModel)]="orderQuantity" step="1" max="99" min="1" value="1" title="Qty" class="qty"
                       size="4">
                <input type="button" value="-" class="minus" (click)="decreaseQuantity()">
            </div>
        </div>
        <div class="col-2 col-sm-2 col-md-2 text-right">
            <button type="button" class="btn btn-outline-danger btn-xs" (click)="deleteItem()">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>
<hr *ngIf="displayThis">
<!-- END PRODUCT -->
